# .gitignore

# Ignore files
.env
.eslintrc.js
voice_temp.mp3
token.pickle

# Ignore folders
venv/
.venv/
__pycache__/
__pycache__
.vscode/
.vscode
temp/


# Ignore compilations
__pycache__/
__pycache__
*.py[cod]